.image-wrapper {
  overflow: hidden;
}

.vertical-slider > * {
  width: 100%;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-wrapper {
  opacity: 1;
  transition: opacity 0.8s ease-out;
}
.content-wrapper.in-view {
  opacity: 1;
  transition: opacity 0.8s ease-out;
}

.image-wrapper .mask-outer {
  transform: translateY(100%);
  overflow: hidden;
  transition: transform 0.9s ease-out 0.9s;
}
.image-wrapper .mask-inner {
  transform: translateY(-100%);
  transition: transform 0.9s ease-out 0.9s;
}
.image-wrapper.show .mask-outer {
  transform: translateY(0);
  transition: transform 0.9s ease-out 0.9s;
}
.image-wrapper.show .mask-inner {
  transform: translateY(0);
  transition: transform 0.9s ease-out 0.9s;
}
